nav {
    background-color: rgb(9, 9, 8);
    padding: 10px 0; 
  }
  
  
  nav a {
    color: white;
    text-decoration: none; 
    padding: 10px 20px; 
    margin: 0 5px; 
  }
  
  
  nav a:hover {
    background-color: rgb(225, 254, 8);
  }

  img {
    
    border-radius: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;


  }


  body {
    background-color: black; /* Setting background color to black */
    color: rgb(252, 222, 0); /* Setting text color to white */
    align-items: center; /* Centering content vertically *
  
    font-family: Arial, sans-serif; /* Setting a fallback font */
  }

  .button {
    display: inline-block;
    padding: 10px 20px;
    margin-left: 20px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #eaf606;
    border: none;
    border-radius: 5px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
  }
  .button:hover {
    background-color: #000000;
  }

  body {
    background-image: url('https://i.pinimg.com/736x/5c/59/e7/5c59e7562bb495446d96fdb00710cf89.jpg');
    background-size: cover; 
    background-position: center;
    width: 100%;
    height: 100vh;
  }


  body {
    margin: 0;
    padding: 0;
    background-color: #f0f0f0; /* Setting background color */
    font-family: sans-serif, sans-serif; /* Setting a fallback font */
  }

  .logo-container {
    position: absolute;
    top: 10px; /* Adjust top position as needed */
    right: 10px; /* Adjust right position as needed */
    z-index: 1000; /* Ensure the logo appears above other content */
    animation: spin 7s linear infinite; /* Adding the spin animation */
  }

  .logo-container img {
    width: 70px; /* Adjust width as needed */
    height: auto; /* Maintain aspect ratio */
  }

  @keyframes spin {
    from {
      transform: rotate(0deg); /* Starting rotation */
    }
    to {
      transform: rotate(360deg); /* Ending rotation */
    }
  }

  body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif; /* Setting a fallback font */
    background: linear-gradient(to bottom, black, yellow); /* Gradient background from black to yellow */
    height: 100vh; /* Full viewport height */
  
  }

  


  
  